<%- include ../partials/header.ejs %>

<main class="container">
    <div class="container">
        <h3>Restaurants</h3>

        <div class="fixed-action-btn" style="bottom: 90px; right: 24px;">
            <a href="/restaurants/add" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>

        <ul class="collection">
            <% for (var i = 0; i < restaurants.length; i++) { %>
                <li class="collection-item avatar">
                    <img src="https://placehold.it/50x50" class="circle">
                    <span class="title"><%= restaurants[i].name %></span>
                    <p>
                        <%= restaurants[i].address %><br>
                        <%= restaurants[i].phoneNumber %><br>
                        <%= restaurants[i].type %><br>
                    </p>
                    <a href="/restaurants/<%= restaurants[i]._id%>" class="secondary-content"><i class="material-icons">mode_edit</i></a>
                </li>
            <% } %>
        </ul>
        
<%- include ../partials/footer.ejs %>